source ~/.virtualenvs/north-is-bot/bin/activate

export WELOVEBOT_CONFIG_PREFIX=NORTHISBOT
export NORTHISBOT__APPLICATION_ID=783500880321576980
export NORTHISBOT__DISSAPEARING_MESSAGES__CHANNELS="799723513014386708:default"
