# discord-py-slash-command~=1.1.2

# git+git://github.com/NorthIsUp/pytinybeans#egg=pytinybeans
https://github.com/NorthIsUp/pytinybeans/archive/refs/heads/master.zip

aiohttp~=3.8.1
aiosmtplib~=1.1.6
asyncstdlib~=3.10.2
inflection~=0.5.1
nextcord
redis~=4.0.2
requests~=2.25.0
rich~=10.16.0
toolz~=0.11.2
yagmail~=0.14.256
flask
firebase_admin
