aiohttp~=3.7.4
aiosmtplib~=1.1.6
asyncstdlib~=3.9.2
discord-py-slash-command~=1.1.2
flask~=1.1.2
git+git://github.com/NorthIsUp/pytinybeans#egg=pytinybeans
git+git://github.com/Rapptz/discord.py.git#egg=discord.py
inflection~=0.5.1
ipython~=7.26.0
redis~=3.5.3
requests~=2.25.0
toolz~=0.11.0
yagmail~=0.14.256
